REVIEW EXERCISES #1

In [1]:
cardinal_numbers = ("First", "Second", "Third")
cardinal_numbers

('First', 'Second', 'Third')

In [2]:
print(cardinal_numbers[1])

Second

In [3]:
position1, position2, position3 = cardinal_numbers

print(position1)
print(position2)
print(position3)

First
Second
Third

In [4]:
my_name = tuple("John")
print(my_name)

('J', 'o', 'h', 'n')

In [5]:
print("" in my_name)

False

In [6]:
new_tuple = my_name[1:]
print(new_tuple)

('o', 'h', 'n')


REVIEW EXERCISES #2

In [7]:
food = ["RICE", "BEANS"]
food

['RICE', 'BEANS']

In [8]:
food.append("BROCCOLI")
print(food)

['RICE', 'BEANS', 'BROCCOLI']

In [9]:
food.extend(["BREAD", "PIZZA"])
print(food)

['RICE', 'BEANS', 'BROCCOLI', 'BREAD', 'PIZZA']

In [10]:
print(food[:2])

['RICE', 'BEANS']

In [11]:
print(food[-1])

PIZZA

In [12]:
breakfast = "EGGS, FRUIT, ORANGE JUICE".split(", ")
print(breakfast)

['EGGS', 'FRUIT', 'ORANGE JUICE']

In [13]:
print(len(breakfast))

3

In [14]:
lengths = [len(item) for item in breakfast]
print(lengths)

[4, 5, 12]

REVIEW EXERCISES #3

In [15]:
data = ((1, 2), (3, 4))
data

((1, 2), (3, 4))

In [16]:
row = 1
for num in data:
    print(f"Row {row} sum: {sum(num)}")
    row += 1

Row 1 sum: 3
Row 2 sum: 7

In [17]:
copy_numbers = data[0:2]
print(copy_numbers)

((1, 2), (3, 4))

In [18]:
data = (1, 8, 11, 46, 2, 5, 67)
numbersList = list(data)
numbersList.sort()

print(f"Unsorted: {data}")
print(f"Sorted: {tuple(numbersList)}")

Unsorted: (1, 8, 11, 46, 2, 5, 67)
Sorted: (1, 2, 5, 8, 11, 46, 67)

CHALLENGE: LIST OF LISTS

In [19]:
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]

for uni in universities:
    print(f"{uni[0]} - Enrollment: {uni[1]}, Tuition: {uni[2]}")

California Institute of Technology - Enrollment: 2175, Tuition: 37704
Harvard - Enrollment: 19627, Tuition: 39849
Massachusetts Institute of Technology - Enrollment: 10566, Tuition: 40732
Princeton - Enrollment: 7802, Tuition: 37000
Rice - Enrollment: 5879, Tuition: 35551
Stanford - Enrollment: 19535, Tuition: 40569
Yale - Enrollment: 11701, Tuition: 40500

CHALLENGE: WAX POETIC

In [20]:
nouns = ["FOSSIL", "HORSE", "AARDVARK", "JUDGE", "CHEF", "MANGO", "EXTROVERT", "GORILLA"]
verbs = ["KICKS", "JINGLES", "BOUNCES", "SLURPS", "MEOWS", "EXPLODES", "CURDLES"]
adjectives = ["FURRY", "BALDING", "INCREDULOUS", "FRAGRANT", "EXUBERANT", "GLISTENING"]
prepositions = ["AGAINST", "AFTER", "INTO", "BENEATH", "UPON", "FOR", "IN", "LIKE", "OVER", "WITHIN"]
adverbs = ["CURIOUSLY", "FURIOUSLY", "SENSUOUSLY", "EXTRAVAGANTLY", "TANTALIZINGLY"]

print("Nouns:", nouns)
print("Verbs:", verbs)
print("Adjectives:", adjectives)
print("Prepositions:", prepositions)
print("Adverbs:", adverbs)

Nouns: ['FOSSIL', 'HORSE', 'AARDVARK', 'JUDGE', 'CHEF', 'MANGO', 'EXTROVERT', 'GORILLA']
Verbs: ['KICKS', 'JINGLES', 'BOUNCES', 'SLURPS', 'MEOWS', 'EXPLODES', 'CURDLES']
Adjectives: ['FURRY', 'BALDING', 'INCREDULOUS', 'FRAGRANT', 'EXUBERANT', 'GLISTENING']
Prepositions: ['AGAINST', 'AFTER', 'INTO', 'BENEATH', 'UPON', 'FOR', 'IN', 'LIKE', 'OVER', 'WITHIN']
Adverbs: ['CURIOUSLY', 'FURIOUSLY', 'SENSUOUSLY', 'EXTRAVAGANTLY', 'TANTALIZINGLY']

REVIEW EXERCISES #4

In [21]:
captains = {}

In [22]:
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisko"

In [23]:

if "Enterprise" not in captains:
    captains["Enterprise"] = "Unknown"

if "Discovery" not in captains:
    captains["Discovery"] = "Unknown"

In [24]:
for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by Unknown.

In [25]:
del captains["Discovery"]
print(captains)

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [26]:
captains2 = dict(
    Enterprise="Picard",
    Voyager="Janeway",
    Defiant="Sisko"
)

print(captains2)

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

CHALLENGE: CAPITAL CITY LOOP

In [27]:
capitals = {
    "Alabama": "Montgomery",
    "Alaska": "Juneau",
    "Arizona": "Phoenix",
    "Arkansas": "Little Rock",
    "California": "Sacramento",
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
}

for state, capital in capitals.items():
    print(f"The capital of {state} is {capital}.")

The capital of Alabama is Montgomery.
The capital of Alaska is Juneau.
The capital of Arizona is Phoenix.
The capital of Arkansas is Little Rock.
The capital of California is Sacramento.
The capital of Colorado is Denver.
The capital of Connecticut is Hartford.
The capital of Delaware is Dover.
The capital of Florida is Tallahassee.
The capital of Georgia is Atlanta.